$red: #cc0000;
$dark_red: #b70000;
$light_gray: #fbfbfb;
$gray: #f4f4f4;
$dark_gray: #bdbdbd;
$white_light: #f8f8f8;
$white_dark: #f4f4f4;
$border_color: #e3e3e3;
$border_color_light: #e0e0e0;
$text_light_color: #d2d2d2;
$text_menu_color: #c8c7c7;
$text_active_color: #6c6c6c;
$title_color: #373737;
$input_background: #f0f0f0;



$text_size: 14px;
$text_small: 12px;
$title_size: 18px;